# 지역별 해양기후에 영향을 주는 요소 정리하기

##### 모든 데이터는 data라는 폴더에 넣기

In [25]:
import pandas as pd
import os

#엑셀 시트별로 파일 불러오는 함수
def excel(sheet_name):
    data_folder = "data"
    # 각 연도별 폴더 리스트
    years = ['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
    # 모든 데이터를 저장할 빈 리스트
    all_data = []
    # 각 연도별 폴더를 순회하면서 파일을 읽어옴
    for year in years:
        # 해당 연도의 폴더 경로
        year_folder = os.path.join(data_folder, year)
        
        # 해당 연도 폴더 안의 모든 파일을 읽어옴
        for file in os.listdir(year_folder):
            # 파일 경로
            file_path = os.path.join(year_folder, file)
            # 파일이 xls나 xlsx인 경우에만 읽어옴
            if file.endswith(".xls") or file.endswith(".xlsx"):
                try:
                    # 파일을 DataFrame으로 읽어옴
                    data = pd.read_excel(file_path, header=1, sheet_name=sheet_name)
                    all_data.append(data)
                except ValueError:
                    # 지정된 시트가 존재하지 않는 경우
                    print(f"파일 '{file_path}'에 시트 '{sheet_name}'가 존재하지 않습니다.")
                    # 다른 시트를 기본값으로 사용하여 파일을 다시 읽어옴
                    data = pd.read_excel(file_path, header=1)
                    all_data.append(data)
                
    # 모든 데이터를 하나의 DataFrame으로 결합
    combined_data = pd.concat(all_data, ignore_index=True)
    return combined_data

In [26]:
# 1번시트 불러오기
combined_data = excel('월요약자료-부이')

In [27]:
# 1번시트 엑셀 파일로 저장
combined_data.to_excel("./data/combined_data.xlsx", index=False)

In [28]:
#2번시트 불러오기
combined_data2 = excel('월요약자료-등표')

In [29]:
# 2번시트 엑셀 파일로 저장
combined_data2.to_excel("./data/combined_data2.xlsx", index=False)

In [30]:
# 2015년 1월부터 3월까지는 파고부이에 대한 월요약자료가 없음 그래서 제외하고 진행
combined_data3 = excel('월요약자료-파고부이')

파일 'data\2015\SEAM_201501.xls'에 시트 '월요약자료-파고부이'가 존재하지 않습니다.
파일 'data\2015\SEAM_201502.xls'에 시트 '월요약자료-파고부이'가 존재하지 않습니다.
파일 'data\2015\SEAM_201503.xls'에 시트 '월요약자료-파고부이'가 존재하지 않습니다.

In [31]:
#3번시트 엑셀 파일로 저장
combined_data3.to_excel("./data/combined_data3.xlsx", index=False)

In [32]:
#미리 만들어둔 데이터 불러오기 
df = pd.read_csv('./data/station.csv')

In [33]:
df.head()

,id,station_na,sensor_typ,latitude,longitude,region,region_sub,station_no
0,22191,서해170,Buoy,36.133333,124.056944,1,3,22191
1,22192,서해206,Buoy,34.000000,123.262500,2,3,22192
2,22299,서해190,Buoy,35.000000,124.133333,2,3,22299
3,22300,남해239,Buoy,32.833333,124.733333,3,3,22300
4,22301,남해465,Buoy,31.666667,126.400000,3,3,22301

In [34]:
#id랑 station_no랑 중복되어서 station_no 컬럼 삭제
df = df.drop(columns='station_no',axis=1,)

In [35]:
df

,id,station_na,sensor_typ,latitude,longitude,region,region_sub
0,22191,서해170,Buoy,36.133333,124.056944,1,3
1,22192,서해206,Buoy,34.000000,123.262500,2,3
2,22299,서해190,Buoy,35.000000,124.133333,2,3
3,22300,남해239,Buoy,32.833333,124.733333,3,3
4,22301,남해465,Buoy,31.666667,126.400000,3,3
...,...,...,...,...,...,...,...
106,22302,동해78,Buoy,36.966667,130.516667,5,2
107,22442,혈암,Costal_wave_buoy,37.541389,130.854167,5,2
108,22443,구암,Costal_wave_buoy,37.478889,130.804444,5,2
109,22464,울릉읍,Costal_wave_buoy,37.471389,130.900278,5,2
110,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2

In [36]:
# 위에서 저장한 엑셀파일 불러오기
com_data = pd.read_excel('./data/combined_data.xlsx')
com_data2 = pd.read_excel('./data/combined_data2.xlsx')
com_data3 = pd.read_excel('./data/combined_data3.xlsx')

In [37]:
com_data.head()

,지점번호,지점명,유의파고,최대파고,Unnamed: 4,Unnamed: 5,Unnamed: 6,평균(sec),최대(sec),나타난날,...,평균(℃),일평균최고(℃),나타난날.2,일평균최저(℃),나타난날.3,평균(℃).1,일평균최고(℃).1,나타난날.4,일평균최저(℃).1,나타난날.5
0,NaN,NaN,평균(m),최대(m),나타난날,일수,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,≥3.0m,≥5.0m,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21229.0,울릉도,2.1,7.4,12,25,12,7.4,12.8,9.0,...,5.6,10.1,5.0,0.1,1.0,12.6,13.4,1.0,11.8,31.0
3,22101.0,덕적도,1.0,4.3,18,12,NaN,4.6,8.0,19.0,...,2.7,5.1,4.0,0.5,29.0,4.6,6.0,1.0,3.9,31.0
4,22103.0,거문도,1.1,4.0,17,8,NaN,4.8,9.1,28.0,...,6.4,12.7,25.0,1.4,1.0,13.2,14.7,25.0,10.8,30.0

In [38]:
com_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2385 entries, 0 to 2384
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점번호         2169 non-null   float64
 1   지점명          2169 non-null   object
 2   유의파고         2137 non-null   object
 3   최대파고         2138 non-null   object
 4   Unnamed: 4   2138 non-null   object
 5   Unnamed: 5   2057 non-null   object
 6   Unnamed: 6   1419 non-null   object
 7   평균(sec)      2009 non-null   float64
 8   최대(sec)      2007 non-null   float64
 9   나타난날         2007 non-null   float64
 10  풍속(㎧)        2000 non-null   float64
 11  일평균최대(㎧)     2000 non-null   float64
 12  나타난날.1       2000 non-null   float64
 13  Unnamed: 13  2017 non-null   float64
 14  Unnamed: 14  1969 non-null   float64
 15  평균(℃)        2006 non-null   float64
 16  일평균최고(℃)     2006 non-null   float64
 17  나타난날.2       2006 non-null   float64
 18  일평균최저(℃)     2006 non-null   float64
 19  나타난날.3       2006 non-null   float64
 20  평균(℃).1      2016 non-null   float64
 21  일평균최고(℃).1   2016 non-null   float64
 22  나타난날.4       2016 non-null   float64
 23  일평균최저(℃).1   2016 non-null   float64
 24  나타난날.5       2016 non-null   float64
dtypes: float64(19), object(6)
memory usage: 465.9+ KB

In [39]:
#지점번호에 NAN값이 있으면 전체행 삭제
com_data = com_data.dropna(subset=['지점번호'])
com_data2 = com_data2.dropna(subset=['지점번호'])
com_data3 = com_data3.dropna(subset=['지점번호'])

In [40]:
com_data3.columns

Index(['지점번호', '지점명', '유의파고', '최대파고', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       '평균(sec)', '최대(sec)', '나타난날', '풍속(㎧)', '일평균최대(㎧)', '나타난날.1',
       'Unnamed: 13', 'Unnamed: 14', '평균(℃)', '일평균최고(℃)', '나타난날.2', '일평균최저(℃)',
       '나타난날.3', '평균(℃).1', '일평균최고(℃).1', '나타난날.4', '일평균최저(℃).1', '나타난날.5'],
      dtype='object')

In [41]:

# df와 com_data를 합칠 때 사용할 공통 열 기준으로 병합
merged_df = pd.merge(df, com_data[['지점번호','유의파고', '최대파고', '풍속(㎧)']], how='left', left_on='id', right_on='지점번호')
merged_df2 = pd.merge(df, com_data2[['지점번호','유의파고', '최대파고', '평균풍속(㎧)']], how='left', left_on='id', right_on='지점번호')
merged_df3 = pd.merge(df, com_data3[['지점번호','유의파고', '최대파고', '풍속(㎧)']], how='left', left_on='id', right_on='지점번호')

In [42]:
# 데이터프레임들을 리스트에 저장
merged_dfs = [merged_df, merged_df2, merged_df3]
# 데이터프레임들을 병합하여 하나의 데이터프레임으로 합침
merged_combined = pd.concat(merged_dfs, ignore_index=True)
# 중복값 제거
merged_combined_unique = merged_combined.drop_duplicates()

In [43]:
#최종 파일!!!!
merged_combined_unique

,id,station_na,sensor_typ,latitude,longitude,region,region_sub,지점번호,유의파고,최대파고,풍속(㎧),평균풍속(㎧)
0,22191,서해170,Buoy,36.133333,124.056944,1,3,22191.0,1.2,8.5,7.3,NaN
1,22191,서해170,Buoy,36.133333,124.056944,1,3,22191.0,1.1,8.5,7.1,NaN
2,22191,서해170,Buoy,36.133333,124.056944,1,3,22191.0,1.2,8.7,6.7,NaN
3,22191,서해170,Buoy,36.133333,124.056944,1,3,22191.0,1.2,7.3,6.5,NaN
4,22191,서해170,Buoy,36.133333,124.056944,1,3,22191.0,0.9,5.2,6.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9480,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2,22506.0,0.7,3.0,NaN,NaN
9481,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2,22506.0,0.7,5.1,NaN,NaN
9482,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2,22506.0,0.7,4.2,NaN,NaN
9483,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2,22506.0,0.7,4.9,NaN,NaN
9484,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2,22506.0,0.8,4.8,NaN,NaN

In [44]:
#최종파일 엑셀로 저장
merged_combined_unique.to_excel('./data/combined_unique.xlsx')

## 최종파일 불러오기

## 컬럼설명
##### id = 지점번호
##### station_na = 지역명칭
##### sensor_typ = 부이,파고부이,등표 3개로 나뉘어짐 --> 순서대로['Buoy', 'Costal_wave_buoy', 'Light_house_aws']
##### latitude = 위도
##### logitude = 경도
##### region = 한반도 서해,남해,동해를 1구역~5구역까지 5개구역으로 구역으로 나눔 
##### region_sub =대륙을 중심으로 가까운바다,중간바다,먼바다를 기준으로 순서대로 1,2,3으로 나눔
##### 이하 생략

In [45]:
com_df = pd.read_excel('./data/combined_unique.xlsx')

In [58]:
com_df['sensor_typ'].unique()

array(['Buoy', 'Costal_wave_buoy', 'Light_house_aws'], dtype=object)

In [60]:
# id랑 지점번호랑 겹처서 지점번호 컬럼 삭제
com_df.drop('지점번호',axis=1,inplace=True)

In [61]:
com_df

,id,station_na,sensor_typ,latitude,longitude,region,region_sub,유의파고,최대파고,풍속(㎧),평균풍속(㎧)
0,22191,서해170,Buoy,36.133333,124.056944,1,3,1.2,8.5,7.3,NaN
1,22191,서해170,Buoy,36.133333,124.056944,1,3,1.1,8.5,7.1,NaN
2,22191,서해170,Buoy,36.133333,124.056944,1,3,1.2,8.7,6.7,NaN
3,22191,서해170,Buoy,36.133333,124.056944,1,3,1.2,7.3,6.5,NaN
4,22191,서해170,Buoy,36.133333,124.056944,1,3,0.9,5.2,6.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7015,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2,0.7,3.0,NaN,NaN
7016,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2,0.7,5.1,NaN,NaN
7017,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2,0.7,4.2,NaN,NaN
7018,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2,0.7,4.9,NaN,NaN
7019,22506,울릉서부,Costal_wave_buoy,37.433333,130.500000,5,2,0.8,4.8,NaN,NaN

In [62]:
#com_df 다시 엑셀로 저장
com_df.to_excel('./data/com_df.xlsx')