In [2]:
import pandas as pd

# 샘플 데이터프레임 생성
data = pd.read_excel('./data/filled_10years.xlsx')

df = pd.DataFrame(data)

# station_na와 month가 같으면서 region이 1인 행만 선택
filtered_df = df[(df['region'] == 1)]

# station_na와 month로 그룹화하고 significant_wave_height의 평균을 계산
result_df = filtered_df.groupby(['station_na', 'month'])['유의파고'].mean().reset_index()

# 결과를 엑셀 파일로 저장
#result_df.to_excel('result.xlsx', index=False)

In [3]:
result_df

    station_na  month      유의파고
0          가대암      1  0.725161
1          가대암      2  0.478571
2          가대암      3  0.412186
3          가대암      4  0.362333
4          가대암      5  0.378065
..         ...    ...       ...
223         풍도      8  0.266667
224         풍도      9  0.266667
225         풍도     10  0.366667
226         풍도     11  0.466667
227         풍도     12  0.500000

[228 rows x 3 columns]

In [21]:
pivot_df_sig =  df[df['region'] == 5].pivot_table(index='station_na', columns='month', values='유의파고')

In [38]:
pivot_df_max =  df[df['region'] == 5].pivot_table(index='station_na', columns='month', values='최대파고')

In [22]:
pivot_df_sig.to_excel('유의파고5구역.xlsx')

In [39]:
pivot_df_max.to_excel('최대파고5구역.xlsx')