In [6]:
import pandas as pd

# 샘플 데이터프레임 생성
data = pd.read_excel('./data/filled_10years.xlsx')

df = pd.DataFrame(data)

# station_na와 month가 같으면서 region이 1인 행만 선택
filtered_df = df[(df['region'] == 1)]

# station_na와 month로 그룹화하고 significant_wave_height의 평균을 계산
result_df = filtered_df.groupby(['station_na', 'month'])['유의파고'].mean().reset_index()

# 결과를 엑셀 파일로 저장
#result_df.to_excel('result.xlsx', index=False)

In [22]:
df

,Unnamed: 0,id,station_na,sensor_typ,latitude,longitude,region,region_sub,지점번호,유의파고,최대파고,풍속(㎧),year,month
0,2184.0,955,서수도,Light_house_aws,37.325,126.393333,1.0,1.0,955.0,0.1,1.2,4.7,2015,4
1,2185.0,955,서수도,Light_house_aws,37.325,126.393333,1.0,1.0,955.0,0.1,1.3,3.8,2015,5
2,2186.0,955,서수도,Light_house_aws,37.325,126.393333,1.0,1.0,955.0,0.1,1.1,3.3,2015,6
3,2187.0,955,서수도,Light_house_aws,37.325,126.393333,1.0,1.0,955.0,0.1,0.8,4.1,2015,7
4,2188.0,955,서수도,Light_house_aws,37.325,126.393333,1.0,1.0,955.0,0.1,1.2,3.8,2015,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,4227.0,22526,녹도,Costal_wave_buoy,36.250,126.200000,1.0,1.0,22526.0,0.4,1.9,NaN,2023,8
9939,4228.0,22526,녹도,Costal_wave_buoy,36.250,126.200000,1.0,1.0,22526.0,0.2,1.6,NaN,2023,9
9940,4229.0,22526,녹도,Costal_wave_buoy,36.250,126.200000,1.0,1.0,22526.0,0.2,1.6,NaN,2023,10
9941,4230.0,22526,녹도,Costal_wave_buoy,36.250,126.200000,1.0,1.0,22526.0,0.2,1.6,NaN,2023,11
9942,4231.0,22526,녹도,Costal_wave_buoy,36.250,126.200000,1.0,1.0,22526.0,0.8,1.6,NaN,2023,12

In [4]:
pivot_df_sig =  df[df['region'] == 5].pivot_table(index='station_na', columns='month', values='유의파고')

In [5]:
pivot_df_max =  df[df['region'] == 5].pivot_table(index='station_na', columns='month', values='최대파고')

In [18]:
pivot_df_wind =  df[df['region'] == 5].pivot_table(index='station_na', columns='month', values='풍속(㎧)')

In [22]:
pivot_df_sig.to_excel('유의파고5구역.xlsx')

In [39]:
pivot_df_max.to_excel('최대파고5구역.xlsx')

In [19]:
pivot_df_wind.to_excel('풍속5구역.xlsx')

In [34]:
#region_sub로 평균풍속

data = pd.read_excel("./data/filled_10years.xlsx")

df = pd.DataFrame(data)

# 피벗 테이블 생성
pivot_table_region_sub = pd.pivot_table(df, index='region_sub', values='최대파고', aggfunc='mean')

print(pivot_table_region_sub)
pivot_table_region_sub.to_excel('pivot_table_region_sub_최.xlsx')

                최대파고
region_sub
1.0         2.946803
2.0         5.061515
3.0         5.753159

In [13]:
#region
import pandas as pd
data_region = pd.read_excel("./data/filled_10years.xlsx")

df = pd.DataFrame(data_region)

# 피벗 테이블 생성
pivot_table_region = pd.pivot_table(df, index='region', values='최대파고', aggfunc='mean')

print(pivot_table_region)
pivot_table_region.to_excel('pivot_table_region_최.xlsx')

            최대파고
region
1.0     2.974921
2.0     4.139693
3.0     3.911569
4.0     3.459597
5.0     4.680911

In [12]:
import pandas as pd

# 데이터프레임 생성
data_max = pd.read_excel("./data/filled_10years.xlsx")
df = pd.DataFrame(data_max)

# 최대 풍속을 가진 다섯 개의 데이터 선택
top5_max_speed = df.nlargest(5, '풍속(㎧)')
print("top5_max_speed:", top5_max_speed)

# region이 1인 데이터만 선택
top5_max_speed_region1 = top5_max_speed[top5_max_speed['region'] == 1]
print("top5_max_speed_region1:", top5_max_speed_region1)

# 피벗 테이블 생성
pivot_table = pd.pivot_table(top5_max_speed_region1, index='station_na', values='풍속(㎧)', aggfunc='max')
print("pivot_table:", pivot_table)

# 엑셀 파일로 저장
pivot_table.to_excel('pivot_top5_wind.xlsx')

top5_max_speed:       Unnamed: 0     id station_na       sensor_typ   latitude   longitude  \
825       3142.0    961        간여암  Light_house_aws  34.285000  127.857778
1932      1215.0  22107        마라도             Buoy  33.083333  126.033333
589       2627.0    959        해수서  Light_house_aws  34.263333  126.026667
471       2511.0    958        갈매여  Light_house_aws  35.613333  126.245000
1466      1110.0  22103        거문도             Buoy  34.001389  127.501389

      region  region_sub     지점번호  유의파고  최대파고  풍속(㎧)  year  month
825      3.0         2.0    961.0   1.3   1.9   16.2  2015      1
1932     3.0         2.0  22107.0   4.4   6.9   14.6  2014      8
589      3.0         1.0    959.0   0.2   0.4   13.5  2015      1
471      2.0         1.0    958.0   3.9   5.7   13.2  2015      1
1466     3.0         2.0  22103.0   1.9   2.9   13.1  2015      1
top5_max_speed_region1: Empty DataFrame
Columns: [Unnamed: 0, id, station_na, sensor_typ, latitude, longitude, region, region_sub, 지점번호, 유의파고, 최대파고, 풍속(㎧), year, month]
Index: []
pivot_table: Empty DataFrame
Columns: []
Index: []