In [6]:
import pandas as pd

# 샘플 데이터프레임 생성
data = pd.read_excel('./data/filled_10years.xlsx')

df = pd.DataFrame(data)

# station_na와 month가 같으면서 region이 1인 행만 선택
filtered_df = df[(df['region'] == 1)]

# station_na와 month로 그룹화하고 significant_wave_height의 평균을 계산
result_df = filtered_df.groupby(['station_na', 'month'])['유의파고'].mean().reset_index()

# 결과를 엑셀 파일로 저장
#result_df.to_excel('result.xlsx', index=False)

In [7]:
df

,Unnamed: 0,id,station_na,sensor_typ,latitude,longitude,region,region_sub,지점번호,유의파고,최대파고,풍속(㎧),year,month
0,2184.0,955,서수도,Light_house_aws,37.325,126.393333,1.0,1.0,955.0,0.1,1.2,4.7,2015,4
1,2185.0,955,서수도,Light_house_aws,37.325,126.393333,1.0,1.0,955.0,0.1,1.3,3.8,2015,5
2,2186.0,955,서수도,Light_house_aws,37.325,126.393333,1.0,1.0,955.0,0.1,1.1,3.3,2015,6
3,2187.0,955,서수도,Light_house_aws,37.325,126.393333,1.0,1.0,955.0,0.1,0.8,4.1,2015,7
4,2188.0,955,서수도,Light_house_aws,37.325,126.393333,1.0,1.0,955.0,0.1,1.2,3.8,2015,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,4227.0,22526,녹도,Costal_wave_buoy,36.250,126.200000,1.0,1.0,22526.0,0.4,1.9,NaN,2023,8
9939,4228.0,22526,녹도,Costal_wave_buoy,36.250,126.200000,1.0,1.0,22526.0,0.2,1.6,NaN,2023,9
9940,4229.0,22526,녹도,Costal_wave_buoy,36.250,126.200000,1.0,1.0,22526.0,0.2,1.6,NaN,2023,10
9941,4230.0,22526,녹도,Costal_wave_buoy,36.250,126.200000,1.0,1.0,22526.0,0.2,1.6,NaN,2023,11
9942,4231.0,22526,녹도,Costal_wave_buoy,36.250,126.200000,1.0,1.0,22526.0,0.8,1.6,NaN,2023,12

In [4]:
pivot_df_sig =  df[df['region'] == 5].pivot_table(index='station_na', columns='month', values='유의파고')

In [5]:
pivot_df_max =  df[df['region'] == 5].pivot_table(index='station_na', columns='month', values='최대파고')

In [18]:
pivot_df_wind =  df[df['region'] == 5].pivot_table(index='station_na', columns='month', values='풍속(㎧)')

In [22]:
pivot_df_sig.to_excel('유의파고5구역.xlsx')

In [39]:
pivot_df_max.to_excel('최대파고5구역.xlsx')

In [19]:
pivot_df_wind.to_excel('풍속5구역.xlsx')